body {
  margin: 0 0;
  padding: 0 0;
  font-family: Verdana, Geneva, sans-serif;
  color: #4D4D4D; }

a {
  text-decoration: none;
  border-style: none;
  transition: color 0.3s ease 0s;
  color: #2185C5; }
  a:hover {
    text-decoration: none;
    color: #4db8e5; }
  a:active {
    text-decoration: none; }

.head {
  border-bottom: 1px #c0ddf0 solid;
  height: 120px; }

.head_line {
  position: absolute;
  background-color: #0078C3;
  right: 0;
  width: 50%; }

.head_cont {
  position: relative;
  color: #fff;
  font-size: 19px;
  padding: 10px 15px;
  background-color: #0078C3; }

.logo {
  position: absolute;
  width: 332px;
  height: auto;
  max-width: 332px;
  z-index: 99; }

.contacts_up {
  color: #fff; }
  .contacts_up a {
    color: #fff;
    transition: color 0.3s ease 0s; }
    .contacts_up a:hover {
      color: #FFFFBF; }

.login {
  float: right;
  font-size: 15px;
  color: #fff;
  padding-top: 3px; }
  .login:hover {
    color: #FFFFBF; }
  .login:after {
    content: "\27A7";
    position: absolute;
    top: 2px;
    display: inline-block;
    padding: 13px 0 0 5px; }

nav {
  position: absolute;
  top: 47px;
  text-align: left;
  width: 1170px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: right;
  z-index: 2;
  padding: 5px 0; }
  nav:hover .submenu {
    display: block; }
  nav a {
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
    color: #0366A6;
    padding: 20px 26px 25px 26px;
    transition: color 0.3s ease 0s; }
    nav a:hover {
      color: #6EC9EF; }

.menu_item {
  background: url(img/item_arrow.png) no-repeat;
  background-position: right 5px top 26px; }

.submenu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #DCF1FA;
  text-align: left;
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden; }
  .submenu a {
    font-size: 15px;
    display: block;
    white-space: pre-wrap;
    padding: 5px 0;
    margin: 5px 0; }
    .submenu a:hover {
      color: #2c9bc9; }
  .submenu .container {
    padding: 20px 50px; }
  .submenu h3 {
    font-size: 18px;
    padding: 0;
    margin-bottom: 20px; }

.submenu_item:hover > .submenu {
  max-height: 600px;
  transition: max-height 0.25s ease-in; }

.navtree {
  font-size: 14px;
  border-bottom: 1px #c0ddf0 solid;
  letter-spacing: 0.3px; }
  .navtree a {
    display: inline-block;
    padding: 10px 15px;
    transition: all 0.3s ease 0s;
    color: #0366A6; }
    .navtree a:hover {
      color: #fff;
      background-color: #0078C3; }

.treeitem {
  position: relative;
  display: inline-block; }
  .treeitem:hover {
    background-color: #0078C3; }
    .treeitem:hover a {
      color: #fff; }
  .treeitem:hover > .subtree {
    display: block; }

.tree_act {
  padding: 10px 10px; }

.subtree {
  display: none;
  position: absolute;
  background-color: #0078C3;
  width: 100%;
  z-index: 2;
  min-width: 350px;
  padding-bottom: 5px; }
  .subtree a {
    display: block;
    color: #000;
    width: 100%;
    padding: 6px 15px; }
    .subtree a:hover {
      background-color: #0086D9; }

.subtree_tit {
  font-size: 13px;
  color: #AACDE3;
  font-weight: bold;
  padding: 10px 15px 5px 15px; }

.treearrow {
  display: inline-block;
  width: 5px;
  height: 14px;
  background: url(img/navtree_arrow.png) no-repeat;
  background-position: top 1px right -3px;
  margin: 0; }

.footer {
  background-color: #004B78;
  background: linear-gradient(to top, #004B78, #004066);
  color: #9BBCCF;
  font-size: 12px; }
  .footer h2 {
    font-size: 12px;
    font-weight: bold; }

.foot_cont {
  font-size: 19px;
  padding: 10px 15px;
  background-color: #006099; }

.contacts_foot {
  color: #fff; }
  .contacts_foot a {
    color: #fff;
    transition: color 0.3s ease 0s; }
    .contacts_foot a:hover {
      color: #FFFFBF; }

.foot_block, .foot_block_links {
  margin-bottom: 20px; }
  .foot_block a, .foot_block_links a {
    color: #9BBCCF;
    transition: color 0.3s ease 0s; }
    .foot_block a:hover, .foot_block_links a:hover {
      color: #fff; }

.foot_block_links a {
  display: block;
  margin-bottom: 8px; }

.foot_block_tit {
  font-weight: bold;
  margin: 25px 0 10px 0; }

.copyr {
  padding: 20px 0;
  border-top: 1px #40789a solid; }

h2 {
  color: #0366A6;
  font-size: 50px;
  margin: 20px 0 30px 0; }

h3 {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 50px;
  line-height: normal; }

.note_success {
  color: #449d44;
  margin-top: 10px; }

/* in_page */
.in_cont, .in_cont_centr, .block_news {
  font-size: 15px;
  padding: 30px 0 60px 0;
  background-color: #F5F6F7;
  line-height: 25px; }

.in_cont_centr {
  text-align: center; }

.in_left_cont {
  padding-right: 50px; }

.cont_catalog {
  margin: 10px 0; }

p {
  margin: 15px 0; }

.img_products img {
  width: 70%;
  height: auto; }

.img_products2 img {
  width: 100%;
  height: auto; }

.products_price {
  font-size: 24px;
  color: #4D4D4D; }

.products_ind h3 {
  padding: 50px 30px;
  transition: all 0.3s ease 0s; }
  .products_ind h3:hover {
    color: #fff;
    background-color: #0366A6; }

.prod_catalog_padding {
  padding: 10px 30px; }

/* /in_page */
/* elements */
.btn {
  font-size: 20px;
  padding: 10px 20px;
  transition: all 0.3s ease 0s; }

/* /elements */
/* page index */
.ind_block_section, .ind_block_uslugi {
  text-align: center;
  background: linear-gradient(to top, #F5F6F7, #f7faff);
  border-bottom: 1px #b9d6ea solid;
  padding: 40px 0 0 0; }

.ind_block_uslugi {
  background: #f7faff url(img/index/uslugi100.jpg) center top no-repeat; }

.ind_block_uslugi_links {
  text-align: left;
  transition: all 0.3s ease 0s; }
  .ind_block_uslugi_links a {
    display: block;
    color: #0366A6;
    font-size: 24px;
    padding: 40px 0 40px 110px;
    background: rgba(102, 169, 237, 0) url(img/index/ind_uslugi_li.png) 50px no-repeat;
    border-bottom: 1px #b4d2e5 solid;
    transition: all 0.3s ease 0s; }
    .ind_block_uslugi_links a:hover {
      background: rgba(102, 169, 237, 0.1) url(img/index/ind_uslugi_li.png) 55px no-repeat;
      transition: all 0.3s ease 0s; }

.ind_h2 {
  margin-bottom: 50px; }

.ind_pic {
  width: 100%;
  height: 426px;
  background-color: #F5F6F7;
  background-image: url(img/ind_pic.png);
  background-repeat: no-repeat;
  background-position: center bottom; }
  .ind_pic .container {
    position: relative; }

.ind_pic_text {
  color: #0478C3;
  font-size: 33px; }

.ind_block {
  position: relative;
  margin: 10px 20px 40px 20px;
  min-height: 220px; }
  .ind_block img {
    width: 150px;
    position: relative;
    z-index: 1; }
  .ind_block:hover .ind_icon_shadow {
    opacity: 0.6;
    transition: all 0.3s ease 0s; }
  .ind_block a {
    color: #4D4D4D; }
    .ind_block a:hover {
      color: #2185C5; }

.ind_icon_shadow {
  position: absolute;
  opacity: 0;
  top: 98px;
  left: 0;
  right: 0;
  margin: auto;
  width: 131px;
  height: 49px;
  background: url(img/index/ind_icon_shadow.png) center no-repeat;
  transition: all 0.3s ease 0s;
  z-index: 0; }

.block_news {
  font-size: 14px;
  line-height: normal; }
  .block_news a {
    display: block; }

.block_news1 {
  margin: 0 10px 20px 0; }

.news_pic {
  width: 100%;
  height: 100px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px #0A79BA solid;
  margin-bottom: 4px; }

.btn_roznica {
  position: absolute;
  right: 10px;
  bottom: -50px;
  font-size: 19px; }
  .btn_roznica a {
    padding: 10px 10px;
    border-bottom: 1px #6EC9EF solid;
    border-radius: 10px;
    background-color: #fff; }
    .btn_roznica a:hover {
      color: #fff;
      background-color: #0478C3; }

.ind_block_oborud {
  position: relative;
  color: #4D4D4D;
  display: block;
  width: 390px;
  min-height: 220px;
  padding: 173px 5px 5px 5px;
  background: top center no-repeat;
  border: 1px #F0F1F2 solid;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 50px; }
  .ind_block_oborud:hover {
    color: #2185C5;
    border-color: #2185C5; }
  .ind_block_oborud:hover .ind_block_oborud_a {
    opacity: 1;
    transition: all 0.3s ease 0s; }

.ind_block_oborud_a {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease 0s; }

/* /page index */
/* page about */
.about_testern1 {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden; }

.about_testern1_img {
  position: absolute;
  top: 10px;
  left: -800px;
  right: 0;
  margin: 0 auto; }

.about_testern1_text {
  margin: 110px 0 110px 45%; }

.about_img1 {
  border: 1px solid #fff;
  box-shadow: 0 8px 30px rgba(4, 120, 192, 0.2); }

.about_etsp_img {
  position: absolute;
  top: 0;
  right: -850px;
  left: 0;
  margin: 0 auto; }

.about_etsp_text {
  padding-bottom: 120px;
  padding-top: 70px; }

/* page /about */
@media (max-width: 1200px) {
  .logo {
    width: 325px;
    left: 0; }

  nav {
    width: 970px;
    top: 47px; }
    nav a {
      padding: 23px 15px;
      font-size: 15px; }

  .menu_item {
    background-position: right -2px top 29px; }

  .btn_roznica {
    right: 0;
    bottom: -35px; }

  .about_testern1_text {
    margin: 100px 0 100px 45%; } }
@media (max-width: 992px) {
  .head {
    padding-bottom: 65px;
    height: 190px; }

  .logo {
    width: 250px;
    position: relative; }

  .head_line {
    display: none; }

  .login {
    margin-right: 15px; }

  nav {
    text-align: center;
    width: 100%;
    top: 130px; }
    nav a {
      padding: 15px 20px; }

  .menu_item {
    background: none; }

  .submenu_item:hover > .submenu {
    display: none; }

  .navtree {
    display: none; }

  .in_left_cont {
    padding-right: 0; }

  .foot_block, .foot_block_links {
    text-align: center; }

  h2 {
    font-size: 30px; }

  .btn_roznica {
    right: 0;
    bottom: -40px; }

  .about_testern1_text {
    margin: 0 0 0 0; }

  .about_testern1_img {
    display: none; }

  .about_etsp_img {
    display: none; }

  .about_etsp_text {
    padding-bottom: 0;
    padding-top: 0; } }
@media (max-width: 768px) {
  .head_line {
    display: block; }

  .head_cont {
    top: -1px; }

  .head {
    padding-bottom: 0;
    height: 145px; }

  .logo {
    position: absolute;
    width: 150px;
    top: 0;
    left: 5px;
    background-color: #fff; }

  .head_cont {
    height: 48px; }

  .contacts_up {
    display: none; }

  nav {
    display: block;
    top: 50px; }
    nav a {
      padding: 4px 10px; }

  .navtree {
    display: none; }

  .ind_pic {
    display: none; }

  .ind_block_oborud {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
